<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comp3606_asg2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Paper2"
            android:label="@string/title_activity_paper2"
            android:parentActivityName=".ExploreScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comp3606_asg2.ExploreScreen" />
        </activity>
        <activity
            android:name=".Paper1"
            android:label="@string/title_activity_paper1"
            android:parentActivityName=".ExploreScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comp3606_asg2.ExploreScreen" />
        </activity>
        <activity
            android:name=".IntentsCallBack"
            android:label="@string/title_activity_intents_call_back"
            android:parentActivityName=".ExploreScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comp3606_asg2.ExploreScreen" />
        </activity>
        <activity
            android:name=".QuizScreen"
            android:label="@string/title_activity_quiz_screen"
            android:parentActivityName=".ExploreScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comp3606_asg2.ExploreScreen" />
        </activity>
        <activity
            android:name=".AndroidGUIComponents"
            android:label="@string/title_activity_android_guicomponents"
            android:parentActivityName=".ExploreScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comp3606_asg2.ExploreScreen" />
        </activity>
        <activity
            android:name=".AboutAndroid"
            android:label="@string/title_activity_about_android"
            android:parentActivityName=".ExploreScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comp3606_asg2.ExploreScreen" />
        </activity>
        <activity
            android:name=".ExploreScreen"
            android:label="@string/title_activity_explore_screen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comp3606_asg2.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>